* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2 100%;
    gap: 1rem;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck, .card-slot {
    height: 180px;
    width: 120px;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color:white;
    user-select: none;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.deck-player {
    cursor: pointer;
}

.red {
    color: red;
}

.black {
    color: black;
}

.card::before, .card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top:.3rem;
    left:.3rem;
}

.card::after {
    bottom: .3rem;
    right: .3rem;
    transform: rotate(180deg);
}

.deck-player {
    background-color: green;
}

.deck-computer {
    background-color: red;
}