* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1,4rem);
    grid-template-rows: repeat(2,8rem);
    gap: .5rem;
    justify-content: center;
}

.card {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}